<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @subscription } %>

<h1>Cambiar tarjeta crédito/débido</h1>
<br/>

<%= render 'spree/shared/planes_advantages' %>

<div class="edit_subscription">
<%=  form_tag recurring_resources_path , method: :post do |f| %>

  <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>

  <div id="plan_<%= @plan.id %>_subscribe">
    <p class="field no-padding" data-hook="card_number">
      <%= label_tag "card_number", Spree.t(:card_number) %><span class="required">*</span><br />
      <% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
      <%= text_field_tag "card_number", '', options_hash.merge(:id => 'card_number', :class => 'required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "off") %>
      &nbsp;
      <span id="card_type" style="display:none;">
        ( <span id="looks_like" ><%= Spree.t(:card_type_is) %> <span id="type"></span></span>
          <span id="unrecognized"><%= Spree.t(:unrecognized_card_type) %></span>
        )
      </span>
    </p>
    <p class="field no-padding" data-hook="card_expiration">
      <%= label_tag "card_expiry", Spree.t(:expiration) %><span class="required">*</span><br />
      <%= text_field_tag "card_expiry", '', :id => 'card_expiry', :class => "required cardExpiry", :placeholder => "MM / YY" %>
    </p>
    <p class="field no-padding" data-hook="card_code">
      <%= label_tag "card_code", Spree.t(:card_code) %><span class="required">*</span><br />
      <%= text_field_tag "card_code", '', options_hash.merge(:id => 'card_code', :class => 'required cardCode', :size => 5) %>
      <a target="_blank" data-hook="cvv_link" id="cvv_link" href="/content/cvv">(¿Qué es esto?)</a>
    </p>
  </div>
  
  <%= button_tag Spree.t(:change), class: 'continue button primary', :id => "button_pay" %>

<% end %>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">Stripe.setPublishableKey("<%= @plan.provider.preferred_public_key %>");</script>
<script>Spree.stripePaymentMethod = $('#plan_' + <%= @plan.id %> + '_subscribe')</script>
<%= javascript_include_tag "spree/frontend/stripe" %>


<script type="text/javascript">

    
$(document).ready(function () {

    $("#order-total-assegurance").show();
    $("#order-total").hide();
 });

 $("#add_assegurance").click(function () {
            if ($(this).is(":checked")) {
                $("#assegurance_total").show();
                $("#order-total-assegurance").show();
                $("#order-total").hide();

                
  } else {
                $("#assegurance_total").hide();
                $("#order-total-assegurance").hide();
                $("#order-total").show();
            }
  });

   $('#add_assegurance').change(function() {
     if (this.checked) {
       alert(this.value())
      /* is_completed should be true */
     } 
   });




</script>