<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @subscription } %>

<h1>Cambiar tarjeta crédito/débido</h1>

<div class="edit_subscription">
<%=  form_tag recurring_resources_path , method: :post do |f| %>

    <!------------------------------------------------------------------------------------------->
    <!--Begin of payment      -->
    <!------------------------------------------------------------------------------------------->
    <fieldset id="payment"  class="fadeIn animated" data-hook>
      <legend align="center"><%= t('spree.payment_information') %></legend>
      <div data-hook="checkout_payment_step" id="payment_method_<%= @payment_method.id %>">
        <% if @wallet_payment_sources.present? %>
          <div class="card_options">
            <%= radio_button_tag 'use_existing_card', 'yes', true %>
            <label for="use_existing_card_yes">
              <%= t('spree.use_existing_cc') %>
            </label>
            <br/>
            <%= radio_button_tag 'use_existing_card', 'no' %>
            <label for="use_existing_card_no">
              <%= t('spree.use_new_cc_or_payment_method') %>
            </label>
          </div>

          <div id="existing_cards">
            <p class="field" data-hook="existing_cards">
            <table class="existing-credit-card-list">
              <tbody>
              <% @wallet_payment_sources.each do |wallet_payment_source| %>
                <%=
                  render(
                      partial: "spree/checkout/existing_payment/#{wallet_payment_source.payment_source.payment_method.partial_name}",
                      locals: {
                          wallet_payment_source: wallet_payment_source,
                          default: wallet_payment_source == @default_wallet_payment_source,
                      }
                  )
                %>
              <% end %>
              </tbody>
            </table>
            </p>
          </div>
        <% end %>

        <div id="payment-method-fields" data-hook>
          <% method = Spree::PaymentMethod.find_by(type: 'Spree::Gateway::StripeGateway', deleted_at: nil) %>
          <p>
            <label>
              <%= radio_button_tag "payment_method_id", method.id%>
              <%= t(method.name, default: method.name) %>
            </label>
          </p>
        </div>

        <ul id="payment-methods" data-hook>
          <li id="payment_method_stripe" data-hook>
            <fieldset>
              <%= render partial: "spree/checkout/payment/stripe_subscriptions", locals: { payment_method: Spree::PaymentMethod.find_by(type: 'Spree::Gateway::StripeGateway', deleted_at: nil) } %>
            </fieldset>
          </li>
        </ul>
        <br style="clear:both;" />
        <!--<p class='field' data-hook='coupon_code'>-->
        <!--%= f.label :coupon_code %><br />-->
        <!--%= f.text_field :coupon_code %>-->
        <!--<button type="button" class="button" id="coupon-code-apply-button">-->
        <!--%= t('spree.apply_code') %>-->
        <!--</button>-->

        <!--</p>-->
        <div id='coupon_status'></div>

      </div>
    </fieldset>

    <br class="space" />

    <div class="text-align-center">
      <%= check_box_tag :accept_terms_and_conditions  ,'accepted',false %>

      <%= label_tag :accept_terms_and_conditions, Spree.t(:acepto) %>
      <a href="/store/use-conditions" >las condiciones de uso</a></div>

    <%= button_tag Spree.t(:subscribe), class: 'continue button primary', :id => "button_pay" %>

    <!------------------------------------------------------------------------------------------->
    <!--end of payment-->
    <!------------------------------------------------------------------------------------------->

<% end %>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#button_pay').prop('disabled', true);

    });
    
$(document).ready(function () {

    $("#order-total-assegurance").show();
    $("#order-total").hide();
 });

    $(document).ready(function () {
        $('#button_pay').prop('disabled', true);

    });


    $(document).ready(function () {

        if ($("#use_existing_card_yes").is(":checked")){
            $("#payment-method-fields").hide();
            $("#payment-methods").hide();
            $("#existing_cards").show();

        } else {
            $("#existing_cards").hide();
            $("#payment-method-fields").show();
            $("#payment-methods").show();
            $("input[name='payment_method_id']").prop( "checked", true );

        }

        $('#use_existing_card_no').on('click',function(){
            $("#payment-method-fields").show();
            $("#payment-methods").show();
            $("input[name='payment_method_id']").prop( "checked", true );
            $("#existing_cards").hide();

        });
        $('#use_existing_card_yes').on('click',function(){
            $("#payment-method-fields").hide();
            $("#payment-methods").hide();
            $("#existing_cards").show();
        });
    });


</script>